@import url(smallscreenhomepage.css);
@import url(mediumscreenhomepage.css);
@import url(largescreenhomepage.css);

*{
    padding:0px;
    margin:0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#container{
    min-width:100vw;
    height:100vh;
    /* background-color: beige; */
}





/* _____________________________large screen_____________________________________________ */

@media  only screen and (min-width:901px) and (max-width:1200px){
    #head{
        width:210vw;
        height:25vh;
      background-color:rgb(29, 29, 126);
        display: flex;
        flex-direction:row;
    }

#sect__hd_01{
flex:2;
display:flex;
justify-content: center;
align-items: center;
}
#logo{
    width:120px;
    height:120px;
    border-radius: 70px;
}

#sect__hd_02{
flex:10;
display: flex;
justify-content: center;
align-items: center;
}
#nav__bar a{
    text-decoration: none;
    color:white;
    font-weight: 250;
    font-size: 2.5em;

}
#nav__bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    display: flex;
    justify-content: center;
    
    
}
.a_nav{
    width: calc(140vw/3*1);
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid white ;
    border-radius: 3px;
    box-shadow:0px 0px 3px rgba(186, 186, 206, 0.456);
}
/* _________________________________main________________________________ */
#main{
    width: 210vw;
    height:200vh;
    padding: 60px 90px;
    display: flex;
    align-items: center;
    color: rgb(219 227 234);
   
}
.background{
    position:absolute;
    top:0.5px;
    left:0;
    width:210vw;
    min-height:210vh;
    background-image: url(360_F_557647884_NvFA7XktHqAvoH8H9gGdLhVFVXgG9hDa.jpg);
    background-size: cover;
    background-position:center;
    filter: blur(2px);
    z-index:-1;

}
.sect__mn{
    text-shadow:5px 5px 5px rgba(1, 3, 27);

}
#sect__mn_01{
flex:4;
}

#sect__mn_02{
/* empty */
flex:1;
}
#sect__mn_01 h2{
    font-size: 3.5em;
}
#sect__mn_01 h2 span{
    font-size: 3em;
}
#sect__mn_01 h3{
    font-size: 3.9em;
}












}/*media only screen bracket*/